<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/utlis.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/mobile.css" />
    <title>CareerConnect</title>
  </head>

  <body>
    {{>navbar}}
    <div class="content max-width-1 m-auto">
      <div class="content-left ">
        <h1>Jobs & Internships Alert</h1>
        <p class="heading-content">
          <div class="about-para-2">
         Welcome to Jobs & Internships Alert, your premier hub for staying updated on the latest and most exciting job and internship openings across various industries. Our innovative platform serves as a dynamic bridge, seamlessly connecting eager job seekers and ambitious students with a multitude of potential employers. With an intuitive interface and a comprehensive database of opportunities, we streamline the job search process for both candidates and hiring companies. Whether you're a recent graduate looking to kickstart your career or a student seeking valuable hands-on experience, we're here to empower you in your professional journey. Say goodbye to endless scrolling and uncertainty – at Jobs & Internships Alert, we're dedicated to fostering connections that drive success. Join us today and embark on a path to meaningful employment and unparalleled growth.
         </div>
        </p>
      </div>
      <div class="content-right">
        <img src="img/nav1.jpg" alt="img" />
      </div>
    </div>
    <!-- for line  -->
    <h1 class="heading-jobs" >Apply For Jobs</h1>
    <div class="max-width-1 m-auto"><hr /></div>
    <div class="home-articles max-width-1 m-auto">
      {{!-- <h1>Apply For Jobs</h1> --}}
          <div class="job-display" >
      <div class="home-article">
        <div class="home-article-img">
          <img src="img/microsoft.png" alt="article" />
        </div>
        <div class="home-article-content font1">
          <h3>Company Name: Microsoft</h3>
          <span>position : Research-Intern</span>
          <br />
          <span>Batch : 2023,2024 .</span>
          <br />
          <!-- <p>Position: Research internship
                    Batch: 2023,2024
                    Location- Bangalore(Upto 50% Work From Home)
                    Job id-1582723 </p> -->
          <span>Stipend: 1 Lacs per month </span>
          <br />
          <a
            href="https://jobs.careers.microsoft.com/us/en/job/1582723/Research-Intern"
            target="_blank"><button class="btn">Apply</button></a
          >
        </div>
      </div>

      <div class="home-article">
        <div class="home-article-img">
          <img src="img/microsoft.png" alt="article" />
        </div>
        <div class="home-article-content font1">
          <h3>Company Name: Microsoft</h3>
          <span>position : Research-Intern</span>
          <br />
          <span>Batch : 2023,2024 .</span>
          <br />
          <!-- <p>Position: Research internship
                    Batch: 2023,2024
                    Location- Bangalore(Upto 50% Work From Home)
                    Job id-1582723 </p> -->
          <span>Stipend: 1 Lacs per month </span>
          <br />
          <a
            href="https://jobs.careers.microsoft.com/us/en/job/1582723/Research-Intern"
            target="_blank" ><button class="btn">Apply</button></a
          >
        </div>
      </div>

      <div class="home-article">
        <div class="home-article-img">
          <img src="img/microsoft.png" alt="article" />
        </div>
        <div class="home-article-content font1">
          <h3>Company Name: Microsoft</h3>
          <span>position : Research-Intern</span>
          <br />
          <span>Batch : 2023,2024 .</span>
          <br />
          <!-- <p>Position: Research internship
                    Batch: 2023,2024
                    Location- Bangalore(Upto 50% Work From Home)
                    Job id-1582723 </p> -->
          <span>Stipend: 1 Lacs per month </span>
          <br />
          <a
            href="https://jobs.careers.microsoft.com/us/en/job/1582723/Research-Intern"
            target="_blank"><button class="btn">Apply</button></a
          >
        </div>
      </div>

      <div class="home-article">
        <div class="home-article-img">
          <img src="img/cleartrip.png" alt="article" />
        </div>
        <div class="home-article-content font1">
          <span>position : Research-Intern</span>
          <br />
          <span>Batch : 2023,2024 .</span>
          <br />
          <!-- <p>Position: Research internship
                    Batch: 2023,2024
                    Location- Bangalore(Upto 50% Work From Home)
                    Job id-1582723 </p> -->
          <span>Stipend: Not mentioned </span>
          <br />
          <a href="https://www.linkedin.com/jobs/view/3656399033"
          target="_blank"><button class="btn">Apply</button></a
          >
        </div>
      </div>

      <div class="home-article">
        <div class="home-article-img">
          <img src="img/article1.jpg" alt="article" />
        </div>
        <div class="home-article-content font1">
          <h3>Company Name: Rahi System</h3>
          <span>position : Research-Intern</span>
          <br />
          <span>Batch : 2022 before .</span>
          <br />
          <!-- <p>Position: Research internship
                    Batch: 2023,2024
                    Location- Bangalore(Upto 50% Work From Home)
                    Job id-1582723 </p> -->
          <span>Stipend: 50 k per month </span>
          <br />
          <a
            href="https://rahisystems.zohorecruit.com/recruit/PortalDetail.na?iframe=true&digest=Jv1r84YXt@dkDCy02cyzb3GAUnkE7bVo.a85bxdBEmQ-&jobid=400067000045664520&widgetid=400067000000072311&embedsource=CareerSite"
            target="_blank"><button class="btn">Apply</button></a
          >
        </div>
      </div>
      </div>


     
    <div class="job-display" >
      <div class="home-article">
        <div class="home-article-img">
          <img src="img/microsoft.png" alt="article" />
        </div>
        <div class="home-article-content font1">
          <h3>Company Name: Microsoft</h3>
          <span>position : Research-Intern</span>
          <br />
          <span>Batch : 2023,2024 .</span>
          <br />
          <!-- <p>Position: Research internship
                    Batch: 2023,2024
                    Location- Bangalore(Upto 50% Work From Home)
                    Job id-1582723 </p> -->
          <span>Stipend: 1 Lacs per month </span>
          <br />
          <a
            href="https://jobs.careers.microsoft.com/us/en/job/1582723/Research-Intern"
            target="_blank"><button class="btn">Apply</button></a
          >
        </div>
      </div>

      <div class="home-article">
        <div class="home-article-img">
          <img src="img/microsoft.png" alt="article" />
        </div>
        <div class="home-article-content font1">
          <h3>Company Name: Microsoft</h3>
          <span>position : Research-Intern</span>
          <br />
          <span>Batch : 2023,2024 .</span>
          <br />
          <!-- <p>Position: Research internship
                    Batch: 2023,2024
                    Location- Bangalore(Upto 50% Work From Home)
                    Job id-1582723 </p> -->
          <span>Stipend: 1 Lacs per month </span>
          <br />
          <a
            href="https://jobs.careers.microsoft.com/us/en/job/1582723/Research-Intern"
            target="_blank" ><button class="btn">Apply</button></a
          >
        </div>
      </div>

      <div class="home-article">
        <div class="home-article-img">
          <img src="img/microsoft.png" alt="article" />
        </div>
        <div class="home-article-content font1">
          <h3>Company Name: Microsoft</h3>
          <span>position : Research-Intern</span>
          <br />
          <span>Batch : 2023,2024 .</span>
          <br />
          <!-- <p>Position: Research internship
                    Batch: 2023,2024
                    Location- Bangalore(Upto 50% Work From Home)
                    Job id-1582723 </p> -->
          <span>Stipend: 1 Lacs per month </span>
          <br />
          <a
            href="https://jobs.careers.microsoft.com/us/en/job/1582723/Research-Intern"
            target="_blank"><button class="btn">Apply</button></a
          >
        </div>
      </div>

      <div class="home-article">
        <div class="home-article-img">
          <img src="img/cleartrip.png" alt="article" />
        </div>
        <div class="home-article-content font1">
          <span>position : Research-Intern</span>
          <br />
          <span>Batch : 2023,2024 .</span>
          <br />
          <!-- <p>Position: Research internship
                    Batch: 2023,2024
                    Location- Bangalore(Upto 50% Work From Home)
                    Job id-1582723 </p> -->
          <span>Stipend: Not mentioned </span>
          <br />
          <a href="https://www.linkedin.com/jobs/view/3656399033"
          target="_blank"><button class="btn">Apply</button></a
          >
        </div>
      </div>

      <div class="home-article">
        <div class="home-article-img">
          <img src="img/article1.jpg" alt="article" />
        </div>
        <div class="home-article-content font1">
          <h3>Company Name: Rahi System</h3>
          <span>position : Research-Intern</span>
          <br />
          <span>Batch : 2022 before .</span>
          <br />
          <!-- <p>Position: Research internship
                    Batch: 2023,2024
                    Location- Bangalore(Upto 50% Work From Home)
                    Job id-1582723 </p> -->
          <span>Stipend: 50 k per month </span>
          <br />
          <a
            href="https://rahisystems.zohorecruit.com/recruit/PortalDetail.na?iframe=true&digest=Jv1r84YXt@dkDCy02cyzb3GAUnkE7bVo.a85bxdBEmQ-&jobid=400067000045664520&widgetid=400067000000072311&embedsource=CareerSite"
            target="_blank"><button class="btn">Apply</button></a
          >
        </div>
      </div>
      </div>




    </div>

  {{>footbar}}
    
    {{!-- <div class="footer">
      <span class="text-small">Copyright © 2023 <a href="/" title="">Hardware Corpus</a></span>
    </div> --}}
    
  </body>
</html>
