<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/utlis.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/mobile.css" />
    <title>bloggers</title>
  </head>

  <body>
    {{!-- <nav class="navigation max-width-1 m-auto">
      <div class="nav-left">
        <a href="/"><img src="img/logo.jpg" alt="Jobs&Alert" /></a>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="nav-right">
        <form action="/search" method="get">
        <input class="form-input" type="text"  name="query"  placeholder="Job Search" />
        <button class="btn">Search</button>
      </form>
      </div>
    </nav> --}}
    {{>navbar}}
    <!-- <div class="content max-width-1 m-auto">
      <div class="content-left">
        <h1>Jobs&Alert</h1>
        <p>
          The website in question is a comprehensive platform where job
          vacancies and internship opportunities are constantly updated. It
          serves as a key point for those looking for work or gaining useful
          professional experience. Users may search via a variety of job
          advertisements and internships, providing exposure to a variety of
          businesses and areas. Individuals may remain up to date on the newest
          opportunities and take proactive measures towards boosting their
          careers or learning vital skills through internships by visiting this
          website.
        </p>
      </div>
      <div class="content-right">
        <img src="img/nav1.jpg" alt="img" />
      </div>
    </div> -->
    <!-- for line  -->
    <!-- <div class="max-width-1 m-auto"><hr /></div>  -->
     <h2 class="h2-search-res">Search Results for Django</h2>
    <div class="home-articles max-width-1 m-auto">
      {{!-- <h1>Apply For Jobs</h1> --}}
      
          <div class="job-display" >
      <div class="home-article">
        <div class="home-article-img">
          <img src="img/microsoft.png" alt="article" />
        </div>
        <div class="home-article-content font1">
          <h3>Company Name: Microsoft</h3>
          <span>position : Research-Intern</span>
          <br />
          <span>Batch : 2023,2024 .</span>
          <br />
          <!-- <p>Position: Research internship
                    Batch: 2023,2024
                    Location- Bangalore(Upto 50% Work From Home)
                    Job id-1582723 </p> -->
          <span>Stipend: 1 Lacs per month </span>
          <br />
          <a
            href="https://jobs.careers.microsoft.com/us/en/job/1582723/Research-Intern"
            target="_blank"><button class="btn">Apply</button></a
          >
        </div>
      </div>

      <div class="home-article">
        <div class="home-article-img">
          <img src="img/microsoft.png" alt="article" />
        </div>
        <div class="home-article-content font1">
          <h3>Company Name: Microsoft</h3>
          <span>position : Research-Intern</span>
          <br />
          <span>Batch : 2023,2024 .</span>
          <br />
          <!-- <p>Position: Research internship
                    Batch: 2023,2024
                    Location- Bangalore(Upto 50% Work From Home)
                    Job id-1582723 </p> -->
          <span>Stipend: 1 Lacs per month </span>
          <br />
          <a
            href="https://jobs.careers.microsoft.com/us/en/job/1582723/Research-Intern"
            target="_blank" ><button class="btn">Apply</button></a
          >
        </div>
      </div>

      <div class="home-article">
        <div class="home-article-img">
          <img src="img/microsoft.png" alt="article" />
        </div>
        <div class="home-article-content font1">
          <h3>Company Name: Microsoft</h3>
          <span>position : Research-Intern</span>
          <br />
          <span>Batch : 2023,2024 .</span>
          <br />
          <!-- <p>Position: Research internship
                    Batch: 2023,2024
                    Location- Bangalore(Upto 50% Work From Home)
                    Job id-1582723 </p> -->
          <span>Stipend: 1 Lacs per month </span>
          <br />
          <a
            href="https://jobs.careers.microsoft.com/us/en/job/1582723/Research-Intern"
            target="_blank"><button class="btn">Apply</button></a
          >
        </div>
      </div>

      <div class="home-article">
        <div class="home-article-img">
          <img src="img/cleartrip.png" alt="article" />
        </div>
        <div class="home-article-content font1">
          <span>position : Research-Intern</span>
          <br />
          <span>Batch : 2023,2024 .</span>
          <br />
          <!-- <p>Position: Research internship
                    Batch: 2023,2024
                    Location- Bangalore(Upto 50% Work From Home)
                    Job id-1582723 </p> -->
          <span>Stipend: Not mentioned </span>
          <br />
          <a href="https://www.linkedin.com/jobs/view/3656399033"
          target="_blank"><button class="btn">Apply</button></a
          >
        </div>
      </div>

      <div class="home-article">
        <div class="home-article-img">
          <img src="img/article1.jpg" alt="article" />
        </div>
        <div class="home-article-content font1">
          <h3>Company Name: Rahi System</h3>
          <span>position : Research-Intern</span>
          <br />
          <span>Batch : 2022 before .</span>
          <br />
          <!-- <p>Position: Research internship
                    Batch: 2023,2024
                    Location- Bangalore(Upto 50% Work From Home)
                    Job id-1582723 </p> -->
          <span>Stipend: 50 k per month </span>
          <br />
          <a
            href="https://rahisystems.zohorecruit.com/recruit/PortalDetail.na?iframe=true&digest=Jv1r84YXt@dkDCy02cyzb3GAUnkE7bVo.a85bxdBEmQ-&jobid=400067000045664520&widgetid=400067000000072311&embedsource=CareerSite"
            target="_blank"><button class="btn">Apply</button></a
          >
        </div>
      </div>
      </div>


     
    <div class="job-display" >
      <div class="home-article">
        <div class="home-article-img">
          <img src="img/microsoft.png" alt="article" />
        </div>
        <div class="home-article-content font1">
          <h3>Company Name: Microsoft</h3>
          <span>position : Research-Intern</span>
          <br />
          <span>Batch : 2023,2024 .</span>
          <br />
          <!-- <p>Position: Research internship
                    Batch: 2023,2024
                    Location- Bangalore(Upto 50% Work From Home)
                    Job id-1582723 </p> -->
          <span>Stipend: 1 Lacs per month </span>
          <br />
          <a
            href="https://jobs.careers.microsoft.com/us/en/job/1582723/Research-Intern"
            target="_blank"><button class="btn">Apply</button></a
          >
        </div>
      </div>

      <div class="home-article">
        <div class="home-article-img">
          <img src="img/microsoft.png" alt="article" />
        </div>
        <div class="home-article-content font1">
          <h3>Company Name: Microsoft</h3>
          <span>position : Research-Intern</span>
          <br />
          <span>Batch : 2023,2024 .</span>
          <br />
          <!-- <p>Position: Research internship
                    Batch: 2023,2024
                    Location- Bangalore(Upto 50% Work From Home)
                    Job id-1582723 </p> -->
          <span>Stipend: 1 Lacs per month </span>
          <br />
          <a
            href="https://jobs.careers.microsoft.com/us/en/job/1582723/Research-Intern"
            target="_blank" ><button class="btn">Apply</button></a
          >
        </div>
      </div>

      <div class="home-article">
        <div class="home-article-img">
          <img src="img/microsoft.png" alt="article" />
        </div>
        <div class="home-article-content font1">
          <h3>Company Name: Microsoft</h3>
          <span>position : Research-Intern</span>
          <br />
          <span>Batch : 2023,2024 .</span>
          <br />
          <!-- <p>Position: Research internship
                    Batch: 2023,2024
                    Location- Bangalore(Upto 50% Work From Home)
                    Job id-1582723 </p> -->
          <span>Stipend: 1 Lacs per month </span>
          <br />
          <a
            href="https://jobs.careers.microsoft.com/us/en/job/1582723/Research-Intern"
            target="_blank"><button class="btn">Apply</button></a
          >
        </div>
      </div>

      <div class="home-article">
        <div class="home-article-img">
          <img src="img/cleartrip.png" alt="article" />
        </div>
        <div class="home-article-content font1">
          <span>position : Research-Intern</span>
          <br />
          <span>Batch : 2023,2024 .</span>
          <br />
          <!-- <p>Position: Research internship
                    Batch: 2023,2024
                    Location- Bangalore(Upto 50% Work From Home)
                    Job id-1582723 </p> -->
          <span>Stipend: Not mentioned </span>
          <br />
          <a href="https://www.linkedin.com/jobs/view/3656399033"
          target="_blank"><button class="btn">Apply</button></a
          >
        </div>
      </div>

      <div class="home-article">
        <div class="home-article-img">
          <img src="img/article1.jpg" alt="article" />
        </div>
        <div class="home-article-content font1">
          <h3>Company Name: Rahi System</h3>
          <span>position : Research-Intern</span>
          <br />
          <span>Batch : 2022 before .</span>
          <br />
          <!-- <p>Position: Research internship
                    Batch: 2023,2024
                    Location- Bangalore(Upto 50% Work From Home)
                    Job id-1582723 </p> -->
          <span>Stipend: 50 k per month </span>
          <br />
          <a
            href="https://rahisystems.zohorecruit.com/recruit/PortalDetail.na?iframe=true&digest=Jv1r84YXt@dkDCy02cyzb3GAUnkE7bVo.a85bxdBEmQ-&jobid=400067000045664520&widgetid=400067000000072311&embedsource=CareerSite"
            target="_blank"><button class="btn">Apply</button></a
          >
        </div>
      </div>
      </div>




    </div>
    {{>footbar}}
  </body>
</html>
