<nav class="navigation max-width-1 m-auto">
      <div class="nav-left">
        <a href="/"><img src="img/logo.jpg" alt="Jobs&Alert" /></a>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/easeurstudies">About us</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="nav-right">
         {{!-- <div><button  class="btn">login</button></div>  --}}
         <a class="btn" href="/login">Login</a>
        <div>
        <form action="/search" method="get">
          <input
            class="form-input"
            type="text"
            name=""
            placeholder="Job Search"
          />
          <button class="btn">Search</button>
        </form>
    
        </div>
      </div>
    </nav>