* {
  margin: 0px;
  padding: 0px;
}
.navigation {
   margin-top: 25px;
   font-family: var(--font1);
   background-color: #fffbfc;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid rgb(121, 98, 98);
}

.nav-left {
  font-size: 20px;
  display: flex;
}
.nav-left ul li {
  list-style: none;
  margin: 0px 14px;
  font-family: var(--font2);
}

.nav-left ul li:hover {
  color: burlywood;
  font-weight: bolder;
}

.nav-left ul {
  display: flex;
  align-items: center;
  margin: 0 77px;
  font-size: 22px;
}

.nav-left ul li a {
  list-style: none;
  text-decoration: none;
  color: black;
}
/* .nav-right {
  display: flex;
} */
.nav-left img{
    height: 90px;
}
.nav-right
{
  display: flex;
 
}

.content {
  margin-top: 15px;
  display: flex;
  height: 100%;
  background-color: white;
  padding-top: 9px;
  position: relative;
  margin-bottom: 12px;
  padding-top: 32px;
 
}

.content::after{
    content: "";
    /* background-image: url(/img/contact\ 1.jpg); */
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.1;
} 
.content-left {
  font-family: var(--font1);
  width: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.content-right {
  /* width: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;

}

.content-right img {
  height: 281px;
  border: 3px solid black;
  border-radius: 90px;
}

.home-articles {
  display: flex;
  background-color:rgb(248, 239, 239);
  padding-top: 36px;
  margin-top: 12px;
  
  
}

.home-article {
    display: flex;
    margin: 20px;
    padding-left: 160px;
}

.home-article img{
    width: 200px;
}

.home-article-content{
    align-self: center;
    padding: 25px;
}
.footer {
  height: 100px;
  background-color: rgb(11, 8, 4);;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer a{
    color: #fefcfe;
}

.about{
  text-align: center;
  font-size: 50px;
  text-decoration: underline;
}
/* .about-us-content{
  font-size: 25px;
} */
.ctr{
  margin-left: 300px;
}
.heading-jobs{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 40px;
}
/* about page */
.about-column{
  height: 700px;
}

/* footer */ 


 .footer-basic {
  padding:10px 0;
  background-color:black;
  color:white;
  
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
} 