* {
  margin: 0px;
  padding: 0px;
}
.navigation {
   margin-top: 25px;
   font-family: var(--font1);
   background-color: #fffbfc;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid rgb(121, 98, 98);
}

.nav-left {
  font-size: 20px;
  display: flex;
}
.nav-left ul li {
  list-style: none;
  margin: 0px 14px;
  font-family: var(--font2);
}

.nav-left ul li:hover {
  color: burlywood;
  font-weight: bolder;
}

.nav-left ul {
  display: flex;
  align-items: center;
  margin: 0 77px;
  font-size: 22px;
}

.nav-left ul li a {
  list-style: none;
  text-decoration: none;
  color: black;
}
/* .nav-right {
  display: flex;
} */
.nav-left img{
    height: 90px;
}

.content {
  margin-top: 15px;
  display: flex;
  height: 100%;
  background-color: white;
  padding-top: 9px;
  position: relative;
  margin-bottom: 12px;
 
}

.content::after{
    content: "";
    /* background-image: url(/img/contact\ 1.jpg); */
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.1;
} 
.content-left {
  font-family: var(--font1);
  /* width: 50%; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.content-right {
  /* width: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;

}

.content-right img {
  height: 281px;
  border: 3px solid black;
  border-radius: 90px;
}

.home-articles {
  background-color:rgb(248, 239, 239);
  padding-top: 8px;
  margin-top: 12px;
}

.home-article {
    display: flex;
    margin: 22px;
}

.home-article img{
    width: 160px;
}

.home-article-content{
    align-self: center;
    padding: 25px;
}
.footer {
  height: 100px;
  background-color: rgb(11, 8, 4);;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer a{
    color: #fefcfe;
}